.container {
    background-color: #f25353;
    width: 400px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    cursor: pointer;


    .container_vallue{
        display: flex;
        gap: 20px;
    }
    .container_vallue_title{
        background-color: orange;
    }
    button{
        padding: 10px;
    }
}